<div class="page-header">
  <h1>Listing Hazards</h1>
</div>

<% if @hazards.empty? %>
  <div class="alert alert-warning">
    No hazards exist right now
  </div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @hazards.each do |hazard| %>
        <tr>
          <td><%= hazard.name %></td>
          <td>
            <%= link_to 'Show', hazard, class: 'btn btn-xs btn-default' %>
            <%= link_to 'Edit', edit_hazard_path(hazard), class: 'btn btn-xs btn-default' %>
            <%= link_to 'Destroy', hazard, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<%= link_to 'Add new Hazard', new_hazard_path, class: 'btn btn-sm btn-success' %>
