<h1>Location: <Site_name></h1>

<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Worker</th>
      <th>Signed in at</th>
      <th colspan="3">Sign Out time</th>
    </tr>
  </thead>

  <tbody>
    <% @logons.each do |logon| %>
      <tr>
        <td><%= logon.worker.company.name %></td>
        <td><%= logon.worker.full_name  %></td>
        <td><%= logon.created_at.strftime("%H:%M:%S - %b %d, %g") %></td>
        <td>
          <% if logon.logout_time.present? %>
            <%= logon.logout_time.strftime("%H:%M:%S - %b %d, %g") %>
          <% else %>
            <%= link_to 'Sign out now', logout_logon_path(logon) , data: { confirm: 'Logging Out.. Are you sure?' }, class: "btn btn-xs btn-default btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sign in', new_logon_path %>
