<h1>Location: <Site_name></h1>

<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Worker</th>
      <th>Signed in at</th>
      <th colspan="3">Sign Out time</th>
    </tr>
  </thead>

  <tbody>
    <% @logons.each do |logon| %>
      <tr>
        <td><%= Worker.find(logon.worker_id).company.name %></td>
        <td><%= Worker.find(logon.worker_id).full_name  %></td>
        <td><%= logon.created_at.strftime("%H:%M:%S - %b %d, %g") %></td>
        <td><% if logon.logout_time.present? %>
                <%= logon.logout_time.strftime("%H:%M:%S - %b %d, %g") %>
              <% else %>
                <%= link_to 'Sign out now', logon_path(logon) , method: :patch, data: { confirm: 'Logging Out.. Are you sure?' }, class: "btn btn-xs btn-default btn-danger" %>
              <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sign in', new_logon_path %>