<div class="page-header">
  <h1>Listing companies</h1>
</div>

<% if @companies.empty? %>
  <div class="alert alert-warning">
    No companies exist right now
  </div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.address %></td>
          <td>
            <%= link_to 'Show', company, class: 'btn btn-xs btn-default' %>
            <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-xs btn-default' %>
            <%= link_to 'Destroy', company, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<%= link_to 'New company', new_company_path, class: 'btn btn-sm btn-success' %>
