<div class="page-header">
  <h1>Listing Workers</h1>
</div>

<% if @workers.empty? %>
  <div class="alert alert-warning">
    No workers exist right now
  </div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Designation</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @workers.each do |worker| %>
        <tr>
          <td><%= worker.first_name %></td>
          <td><%= worker.last_name %></td>
          <td><%= Company.find(worker.company_id).name %></td>
          <td><%= worker.contact %></td>
          <td><%= worker.email %></td>
          <td><%= worker.type %></td>
          <td>
            <%= link_to 'Show', worker_path(worker), class: 'btn btn-xs btn-default' %>
            <%= link_to 'Edit', edit_worker_path(worker), class: 'btn btn-xs btn-default' %>
            <%= link_to 'Destroy', worker_path(worker), method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<%= link_to 'New worker', new_worker_path, class: 'btn btn-sm btn-success' %>
