<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :manager_id %><br>
    <%= f.select :manager_id, Manager.all.map {|manager| [manager.first_name,manager.id]}, :selected => f.object.manager_id.to_i %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
