<div class="page-header">
  <h1>Listing Sites</h1>
</div>

<% if @sites.empty? %>
  <div class="alert alert-warning">
    No sites exist right now
  </div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Site Name</th>
        <th>Manager</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= site.name %></td>
          <td><%= site.manager.first_name %>, <%= site.manager.last_name %></td>
          <td>
            <%= link_to 'Show', site, class: 'btn btn-xs btn-default' %>
            <%= link_to 'Edit', edit_site_path(site), class: 'btn btn-xs btn-default' %>
            <%= link_to 'Destroy', site, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<%= link_to 'New site', new_site_path, class: 'btn btn-sm btn-success' %>
