<p id="notice"><%= notice %></p>

<p>
  <strong>Site Name</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Manager Name:</strong>
  <%= @site.manager.first_name %>
</p>

<p>
  <table>
    <thead>
      <tr>
        <th colspan="3">Hazards on this site</th>
      </tr>
    </thead>

    <tbody>
      <% @hazards.each do |hazard| %>
          <tr>
            <td width="500"><%= hazard.name %></td>
            <td><%= link_to 'Show', hazard %></td>
            <td><%= link_to 'Destroy', hazard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
