<div class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Lafarge EMS", root_url, :class => "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <%- if current_login %>
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <% if superuser? %>
            <li class="<%= 'active' if current_page?(companies_path) %>"><%= link_to "Companies", companies_path %></li>
            <li class="<%= 'active' if current_page?(hazards_path) %>"><%= link_to "Hazards", hazards_path %></li>
          <% end %>
          <% if manager? || superuser? %>
            <li class="<%= 'active' if current_page?(sites_path) %>"><%= link_to "Sites", sites_path %></li>
            <li class="<%= 'active' if current_page?(workers_path) %>"><%= link_to "Workers", workers_path %></li>
          <% end %>
          <li class="<%= 'active' if current_page?(logons_path) %>"><%= link_to "Logons", logons_path %></li>
          <li><span class="navbar-text">Welcome <%= current_login.email %></span></li>
          <li><%= link_to('Logout', destroy_login_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_login_session_path)  %></li>
        <% end -%>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
